*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
img{
    vertical-align: top;
}
html,body{
    min-width: 300px;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}

.header{
    position: fixed;
    width: 100%;
    z-index: 9999;

    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.792);
    backdrop-filter: blur(8px);
    box-shadow: 0px 2px 10px#4c4c4c71;
}

.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 400px;
}
.logo img{
    width: 100%;
}
.menu_links ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_links ul li{
    padding: 0px 15px;
}

.menu_links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: #4c4c4c;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.menu_links ul li:hover::after{
    width: 100%;
}

.menu_links ul li a{
    font-size: calc(20px + 5*(100vw/1280));
}

.menu_links ul li:nth-child(odd) a{
    color: #f40c0c;
}

.menu_links ul li:nth-child(even) a{
    color: #54a82c;
}

/*SUB MENU*/
.sub_menu{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 220px;
    position: absolute;
    left: 10%;
    top: 100%;
    background-color: #fff;
    padding: 15px;
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    display: flex;
    flex-direction: column;
    align-items: left;
}

.menu_item:hover .sub_menu .menu_item:nth-child(odd) a{
    color: #f40c0c;
}

.menu_item{
    position: relative;
}

.sub_menu .menu_item{
    padding: 10px 0px;
}



.gg-arrow-down-o {
    color: #4c4c4c;
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 20px;
    transition: all 0.3s ease-in;
}
.gg-arrow-down-o::after,
.gg-arrow-down-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 4px
}
.gg-arrow-down-o::after {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg);
    left: 6px
}
.gg-arrow-down-o::before {
    width: 2px;
    height: 10px;
    left: 8px;
    background: currentColor;
}

.menu_item-sub a .gg-arrow-down-o{
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

.menu_item-sub:hover a .gg-arrow-down-o{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}



/*SUB MENU*/

/*BURGER*/
.burger{
    display: none;
}
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  
  .ham4 .top {
    stroke-dasharray: 40 121;
  }
  .ham4 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham4.active .top {
    stroke-dashoffset: -68px;
  }
  .ham4.active .bottom {
    stroke-dashoffset: -68px;
  }
/*BURGER*/

@media(min-width:992px){
    .menu_item-sub:hover .sub_menu{
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

@media(max-width:1098px){
    .menu_links{
        display: none;
    }
    .burger{
        display: block;
    }
}

@media (max-width:598px) {
    .logo{
        width: 260px;
    }
    .header{
        padding: 20px 10px;
    }
}